<div class="topbar">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="search">
        <label>
            <input type="text" placeholder="Search  .... ">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>

    <div class="user">
        <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="Admin">
    </div>
</div>
