<!DOCTYPE html>
<!-- Last Published: Mon Feb 03 2025 12:05:10 GMT+0000 (Coordinated Universal Time) -->
<html
  data-wf-domain="www.trood.com"
  data-wf-page="666c3b9df075228f23ff1408"
  data-wf-site="6668249a48934bb7f2f76107"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <title>About Trood - Delivery Solutions</title>
    <meta
      content="Learn how Trood connects senders with travelers for fast, reliable, and affordable same-day deliveries."
      name="description"
    />
    <meta
      content="About Trood - Delivery Solutions"
      property="og:title"
    />
    <meta
      content="Learn how Trood connects senders with travelers for fast, reliable, and affordable same-day deliveries."
      property="og:description"
    />
    <meta
      content="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/667281df757122d25386d932_errandsdash-og-image.jpg"
      property="og:image"
    />
    <meta
      content="About Trood - Delivery Solutions"
      property="twitter:title"
    />
    <meta
      content="Learn how Trood connects senders with travelers for fast, reliable, and affordable same-day deliveries."
      property="twitter:description"
    />
    <meta
      content="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/667281df757122d25386d932_errandsdash-og-image.jpg"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      href="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/css/errandsdash1.webflow.8c488c08d.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link
      href="https://fonts.gstatic.com"
      rel="preconnect"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            'Questrial:regular',
            'DM Sans:regular,700',
            'DM Serif Display:regular',
          ],
        },
      });
    </script>
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = ' w-mod-';
        (n.className += t + 'js'),
          ('ontouchstart' in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + 'touch');
      })(window, document);
    </script>
   <link rel="icon" href="trood-ico.ico" type="image/x-icon">

    <link
      href="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666c384792c339cc8a1f572f_webclip.png"
      rel="apple-touch-icon"
    />
    
  </head>
  <body class="body">
    <div class="page-wrapper">
      <div class="global-styles w-embed">
        <style>
          /* Make text look crisper and more legible in all browsers */
          body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
          }

          /* Focus state style for keyboard navigation for the focusable elements */
          *[tabindex]:focus-visible,
          input[type='file']:focus-visible {
            outline: 0.125rem solid #4d65ff;
            outline-offset: 0.125rem;
          }

          /* Set color style to inherit */
          .inherit-color * {
            color: inherit;
          }

          /* Get rid of top margin on first element in any rich text element */
          .w-richtext > :not(div):first-child,
          .w-richtext > div:first-child > :first-child {
            margin-top: 0 !important;
          }

          /* Get rid of bottom margin on last element in any rich text element */
          .w-richtext > :last-child,
          .w-richtext ol li:last-child,
          .w-richtext ul li:last-child {
            margin-bottom: 0 !important;
          }

          /* Make sure containers never lose their center alignment */
          .container-medium,
          .container-small,
          .container-large {
            margin-right: auto !important;
            margin-left: auto !important;
          }

          /* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
          /*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

          /* Apply "..." after 3 lines of text */
          .text-style-3lines {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }

          /* Apply "..." after 2 lines of text */
          .text-style-2lines {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          /* These classes are never overwritten */
          .hide {
            display: none !important;
          }

          @media screen and (max-width: 991px) {
            .hide,
            .hide-tablet {
              display: none !important;
            }
          }
          @media screen and (max-width: 767px) {
            .hide-mobile-landscape {
              display: none !important;
            }
          }
          @media screen and (max-width: 479px) {
            .hide-mobile {
              display: none !important;
            }
          }

          .margin-0 {
            margin: 0rem !important;
          }

          .padding-0 {
            padding: 0rem !important;
          }

          .spacing-clean {
            padding: 0rem !important;
            margin: 0rem !important;
          }

          .margin-top {
            margin-right: 0rem !important;
            margin-bottom: 0rem !important;
            margin-left: 0rem !important;
          }

          .padding-top {
            padding-right: 0rem !important;
            padding-bottom: 0rem !important;
            padding-left: 0rem !important;
          }

          .margin-right {
            margin-top: 0rem !important;
            margin-bottom: 0rem !important;
            margin-left: 0rem !important;
          }

          .padding-right {
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
            padding-left: 0rem !important;
          }

          .margin-bottom {
            margin-top: 0rem !important;
            margin-right: 0rem !important;
            margin-left: 0rem !important;
          }

          .padding-bottom {
            padding-top: 0rem !important;
            padding-right: 0rem !important;
            padding-left: 0rem !important;
          }

          .margin-left {
            margin-top: 0rem !important;
            margin-right: 0rem !important;
            margin-bottom: 0rem !important;
          }

          .padding-left {
            padding-top: 0rem !important;
            padding-right: 0rem !important;
            padding-bottom: 0rem !important;
          }

          .margin-horizontal {
            margin-top: 0rem !important;
            margin-bottom: 0rem !important;
          }

          .padding-horizontal {
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
          }

          .margin-vertical {
            margin-right: 0rem !important;
            margin-left: 0rem !important;
          }

          .padding-vertical {
            padding-right: 0rem !important;
            padding-left: 0rem !important;
          }
        </style>
      </div>
      <div class="social_nav">
        <div class="padding-global padding-section-xsmall">
          <div class="container-large">
            <div class="social-nav_wrapper">
              <div class="social-icons-text">
                <a
                  href="/download-app"
                  class="social_nav-link text-style-no-underline is-linked w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693bfde6640b157fb834d0_app-icon.svg"
                    loading="eager"
                    alt=""
                  />
                  <div class="social_text">Get the app now</div></a
                >
                <div class="social_nav-link text-style-no-underline">
                  <img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0bab54c2d95c58ae4c_at-your-service.svg"
                    loading="eager"
                    alt=""
                  />
                  <div class="social_text">At your service 24/7</div>
                </div>
                <a
                  href="mailto:support@trood.com"
                  class="social_nav-link text-style-no-underline is-linked w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b4e53cac8cdbc52b9_email-header.svg"
                    loading="eager"
                    alt=""
                  />
                  <div class="social_text-email">
                    support@trood.com
                  </div></a
                >
              </div>
              <div class="social-icons hidden">
                <a
                  href="#"
                  class="social_nav-link text-style-no-underline w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b10c088dec9921f37_instagram-header.svg"
                    loading="lazy"
                    alt="" /></a
                ><a
                  href="#"
                  class="social_nav-link text-style-no-underline w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b61b81773fa25973d_facebook-header.svg"
                    loading="lazy"
                    alt=""
                /></a>
              </div>
              <div class="social-nav-buttons">
                <a
                  href="#"
                  class="text-style-no-underline"
                  >Login</a
                ><a
                  href="#"
                  class="button is-secondary w-button"
                  >Sign Up</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav_main">
        <div
          data-animation="default"
          data-collapse="medium"
          data-duration="400"
          data-easing="ease"
          data-easing2="ease"
          role="banner"
          class="nav_component w-nav"
        >
          <div class="padding-global">
            <div class="nav_container">
                        <a
                href="/"
                aria-current="page"
                class="nav_brand w-nav-brand w--current"
                ><img style="margin-bottom: 20px;"
                  loading="lazy"
                  src="/images/trood-logo.svg"
                  alt="Trood Logo"
                  class=""
                  width="100px"
                  height="50px"
              /></a>
              <div class="nav_button w-nav-button">
                <div class="nav_menu-icon w-icon-nav-menu"></div>
              </div>
              <nav role="navigation" class="nav_menu w-nav-menu">
                <div class="nav_menu-wrap">
                  <a href="/" class="nav_menu_link w-nav-link">Home</a
                  ><a
                    href="/about-us"
                    aria-current="page"
                    class="nav_menu_link w-nav-link w--current"
                    >About</a
                  >
                  <div
                    data-hover="false"
                    data-delay="0"
                    class="nav_menu-dropdown w-dropdown"
                  >
                    <div class="nav_dropdown-toggle w-dropdown-toggle">
                      <div class="nav_menu-text">Services</div>
                      <div class="icon w-icon-dropdown-toggle"></div>
                    </div>
                    <nav class="nav_dropdown-list w-dropdown-list">
                      <a
                        href="/send-with-trood"
                        class="nav_dropdown-link w-dropdown-link"
                        >Send with Trood</a
                      ><a
                        href="/become-a-carrier"
                        class="nav_dropdown-link w-dropdown-link"
                        >Become a Carrier</a
                      ><a
                        href="/become-a-service-center"
                        class="nav_dropdown-link w-dropdown-link"
                        >Become a Service Center</a
                      >
                    </nav>
                  </div>
                  <a href="#" class="nav_menu_link hidden w-nav-link">Blog</a
                  ><a href="#" class="button is-left-aligned w-button"
                    >Contact Us</a
                  >
                  <div class="social-nav_wrapper-small-devices">
                    <div class="social-icons-text">
                      <a
                        href="#"
                        class="social_nav-link text-style-no-underline w-inline-block"
                        ><img
                          src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693bfde6640b157fb834d0_app-icon.svg"
                          loading="lazy"
                          alt=""
                        />
                        <div>Get the app now</div></a
                      ><a
                        href="#"
                        class="social_nav-link text-style-no-underline w-inline-block"
                        ><img
                          src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0bab54c2d95c58ae4c_at-your-service.svg"
                          loading="lazy"
                          alt=""
                        />
                        <div>At your service 24/7</div></a
                      ><a
                        href="mailto:support@trood.com"
                        class="social_nav-link text-style-no-underline w-inline-block"
                        ><img
                          src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b4e53cac8cdbc52b9_email-header.svg"
                          loading="lazy"
                          alt=""
                        />
                        <div>support@trood.com</div></a
                      >
                    </div>
                    <div class="social-icons hidden">
                      <a
                        href="#"
                        class="social_nav-link text-style-no-underline w-inline-block"
                        ><img
                          src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b10c088dec9921f37_instagram-header.svg"
                          loading="lazy"
                          alt="" /></a
                      ><a
                        href="#"
                        class="social_nav-link text-style-no-underline w-inline-block"
                        ><img
                          src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b61b81773fa25973d_facebook-header.svg"
                          loading="lazy"
                          alt=""
                      /></a>
                    </div>
                    <div class="social-nav-buttons">
                      <a
                        href="/carrier-profile"
                        class="text-style-no-underline"
                        >Login</a
                      ><a
                        href="#"
                        class="button is-secondary w-button"
                        >Sign Up</a
                      >
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <main class="main-wrapper">
        <section class="section_hero-inner-pages">
          <div class="padding-global padding-horizontal">
            <div class="container-large">
              <div class="hero_wrapper-inner-pages">
                <div class="hero_breadcrumb-wrap">
                  <a href="/" class="heading-style-h6 text-color-grey">Home</a>
                  <h6 class="heading-style-h6 text-color-grey">|</h6>
                  <a
                    href="/about-us"
                    aria-current="page"
                    class="heading-style-h6 text-color-secondary w--current"
                    >About Us</a
                  >
                </div>
                <div class="padding-tiny"></div>
                <div class="hero_content-inner-pages">
                  <h6
                    data-w-id="16becec5-2500-bc3f-e1d3-5f77de128dee"
                    style="opacity: 0"
                    class="heading-style-h6 text-color-secondary text-style-allcaps text-align-center"
                  >
                    ABOUT Us
                  </h6>
                  <h1
                    data-w-id="16becec5-2500-bc3f-e1d3-5f77de128df0"
                    style="opacity: 0"
                    class="heading-style-h2 text-align-center"
                  >
                    Streamlined Same-Day Delivery Solutions
                  </h1>
                  <div
                    data-w-id="16becec5-2500-bc3f-e1d3-5f77de128df2"
                    style="opacity: 0"
                    class="text-size-regular text-color-primary text-align-center"
                  >
                    Trood is revolutionizing the way packages are
                    delivered by connecting senders with travelers who are
                    already heading to the package’s destination. Our platform
                    offers a fast, reliable, and cost-effective solution for
                    same-day deliveries over long distances.
                  </div>
                </div>
                <div
                  data-w-id="0779c671-bd01-f1df-506c-ac5c1781ab9d"
                  style="opacity: 0"
                  class="hero_banner-image-wrap-about-page"
                ></div>
              </div>
            </div>
          </div>
        </section>
        <div class="padding-large"></div>
        <div class="section_vision">
          <div class="padding-global">
            <div class="container-large">
              <div class="vision_content-wrap">
                <div class="vision_block-1">
                  <div class="vision_circle-img">
                    <img
                      src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666c4513f333e8af8076982d_vision.svg"
                      loading="lazy"
                      style="opacity: 0"
                      data-w-id="d2cdb56c-a977-61ce-bcb8-9f5c11d99e9c"
                      alt=""
                    />
                  </div>
                  <div class="vision_blue-bg">
                    <div class="vision_content">
                      <h6
                        data-w-id="c2089ec9-d4d9-db8f-a20f-1c7451209b43"
                        style="opacity: 0"
                        class="heading-style-h6 text-color-secondary text-style-allcaps"
                      >
                        our vision
                      </h6>
                      <h1
                        data-w-id="847bd3f8-c955-2418-db12-96262189d156"
                        style="opacity: 0"
                        class="heading-style-h2 text-color-primary is-smaller"
                      >
                        We innovate and inspire
                      </h1>
                      <div
                        data-w-id="277ee22a-b5de-73b3-7155-aec3bcfe7ca9"
                        style="opacity: 0"
                        class="text-size-regular text-color-primary"
                      >
                        To become the leading platform for same-day package
                        deliveries by fostering a community of trusted senders
                        and carriers.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vision_block-2">
                  <div class="vision_circle-img is-right">
                    <img
                      src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666c45139c540e46d2568637_mission.svg"
                      loading="lazy"
                      style="opacity: 0"
                      data-w-id="43714cd6-ef5a-10cb-9d57-7308801cf357"
                      alt=""
                    />
                  </div>
                  <div class="vision_blue-bg left-align">
                    <div class="vision_content">
                      <h6
                        data-w-id="43714cd6-ef5a-10cb-9d57-7308801cf35a"
                        style="opacity: 0"
                        class="heading-style-h6 text-color-secondary text-style-allcaps"
                      >
                        our Mission
                      </h6>
                      <h2
                        data-w-id="43714cd6-ef5a-10cb-9d57-7308801cf35c"
                        style="opacity: 0"
                        class="heading-style-h2 text-color-primary is-smaller"
                      >
                        Our purpose is creating change
                      </h2>
                      <div
                        data-w-id="43714cd6-ef5a-10cb-9d57-7308801cf35e"
                        style="opacity: 0"
                        class="text-size-regular text-color-primary"
                      >
                        To provide an efficient, affordable, and reliable
                        delivery service by leveraging the travel plans of our
                        carriers, ensuring timely deliveries and satisfied
                        customers.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-medium"></div>
        <div class="section_why-us">
          <div class="padding-global">
            <div class="container-large">
              <div class="margin-bottom margin-custom4">
                <h6
                  data-w-id="695531bc-a8f6-65f8-c376-deb8af531192"
                  style="opacity: 0"
                  class="heading-style-h6 text-color-secondary text-style-allcaps"
                >
                  Why choose us
                </h6>
                <h2
                  data-w-id="f9627f14-eae9-6825-36ed-b0d23c05117a"
                  style="opacity: 0"
                  class="heading-style-h2 text-color-primary is-smaller"
                >
                  Fast, Affordable, Efficient Deliveries
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="section_why-us-cards">
          <div class="padding-global padding-bottom">
            <div class="container-large">
              <div class="why-us-cards-wrapper">
                <div class="why_us-grid">
                  <div
                    id="w-node-_9d02897e-0e9e-c4f5-86a9-3e6f2c1ff32b-23ff1408"
                    class="why-us-card"
                  >
                    <div class="why-us-icon-wrapper">
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d41157b96efb3472d671a_faster-delivery.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="9cd5a252-77db-8ed6-1b47-b5435e309321"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        Faster Delivery Times
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Our platform leverages the travel plans of
                            individuals already heading to your package’s
                            destination, ensuring same-day deliveries that are
                            both timely and efficient.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Real-time tracking and updates keep you informed
                            every step of the way, so you know exactly when your
                            package will arrive.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="w-node-_12845125-7005-dd43-e224-13bce999afd4-23ff1408"
                    class="why-us-card"
                  >
                    <div class="why-us-icon-wrapper">
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666db541a95be3b2cb9d43a9_lower-costs.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="12845125-7005-dd43-e224-13bce999afd6"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        Lower Costs
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            By utilizing existing travel routes, we
                            significantly reduce shipping costs compared to
                            traditional courier services.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Our cost-effective pricing structure ensures you get
                            the best value for your money without compromising
                            on service quality.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="w-node-_008e2f60-b071-487e-14ca-c5968895f723-23ff1408"
                    class="why-us-card"
                  >
                    <div class="why-us-icon-wrapper">
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/6668336cc46a4f7772dd35a7_innovative-matching-system.svg"
                        loading="lazy"
                        width="65"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="008e2f60-b071-487e-14ca-c5968895f725"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        Innovative Matching System
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Our unique approach connects senders with travelers
                            already en route to the desired destination,
                            maximizing efficiency and minimizing delays.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            This system not only ensures quick deliveries but
                            also provides a sustainable solution by optimizing
                            travel routes.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="w-node-af62d9a6-50f1-552d-83b5-42101df4d840-23ff1408"
                    class="why-us-card"
                  >
                    <div class="why-us-icon-wrapper">
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666db4f598aab4c4a65d3947_user-friendly-experience.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="af62d9a6-50f1-552d-83b5-42101df4d842"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        User-Friendly Experience
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Our intuitive platform makes it easy for senders to
                            post delivery requests and for travelers to find and
                            accept jobs that fit their schedules.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Seamless integration and straightforward processes
                            ensure a hassle-free experience for all users.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="why-us-card">
                    <div
                      data-w-id="56ce485e-e95f-1dcb-93fc-641a97a62708"
                      style="opacity: 0"
                      class="why-us-icon-wrapper"
                    >
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c04472f0038056e7fc5_reliability-%20and-security.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="56ce485e-e95f-1dcb-93fc-641a97a626fd"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        Reliability and Security
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Trusted and verified travelers handle your packages,
                            providing peace of mind that your items are in safe
                            hands.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Comprehensive guidelines and support ensure that all
                            deliveries meet our high standards of service.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="w-node-_3d61909d-abcc-467f-209d-d9b4a7c725bb-23ff1408"
                    class="why-us-card"
                  >
                    <div
                      data-w-id="3d61909d-abcc-467f-209d-d9b4a7c725c8"
                      style="opacity: 0"
                      class="why-us-icon-wrapper"
                    >
                      <img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c04f392facbd1df22d3_flexible-solutions.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="why-us-card-contents">
                      <h3
                        data-w-id="3d61909d-abcc-467f-209d-d9b4a7c725bd"
                        style="opacity: 0"
                        class="heading-style-h5 text-align-center"
                      >
                        Flexible Solutions
                      </h3>
                      <div class="why-us-points-wrapper">
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Whether you are an individual, a small business, or
                            an e-commerce merchant, Trood offers tailored
                            solutions to meet your specific delivery needs.
                          </div>
                        </div>
                        <div class="why-us-point">
                          <img
                            src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666d3fc4b600ed634ac080d3_purple-check.svg"
                            loading="lazy"
                            alt=""
                          />
                          <div class="text-size-regular">
                            Our service is adaptable to various shipping
                            requirements, providing flexibility and convenience
                            for all users.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section_benefits">
          <div class="padding-global">
            <div class="container-large padding-vertical padding-huge">
              <div class="benefits-intro-wrap">
                <h2
                  data-w-id="586d90c4-12b9-ad68-6d4e-9e0a06e51205"
                  class="heading-style-h6 text-color-secondary text-style-allcaps text-align-center"
                >
                  How does it benefit you?
                </h2>
                <h3
                  data-w-id="586d90c4-12b9-ad68-6d4e-9e0a06e51207"
                  class="heading-style-h2 text-align-center"
                >
                  Here’s how we make your life better
                </h3>
              </div>
              <div
                data-w-id="586d90c4-12b9-ad68-6d4e-9e0a06e51209"
                class="benefits-wrapper"
              >
                <div class="benefits-grid">
                  <div
                    id="w-node-_586d90c4-12b9-ad68-6d4e-9e0a06e5120b-06e51201"
                    data-current="Tab 1"
                    data-easing="ease"
                    data-duration-in="300"
                    data-duration-out="100"
                    class="tabs w-tabs"
                  >
                    <div
                      id="w-node-_586d90c4-12b9-ad68-6d4e-9e0a06e5120c-06e51201"
                      class="tabs-menu w-tab-menu"
                    >
                      <a
                        data-w-tab="Tab 1"
                        class="benefits-tab-link w-inline-block w-tab-link w--current"
                        ><div>Individuals</div></a
                      ><a
                        data-w-tab="Tab 2"
                        class="benefits-tab-link w-inline-block w-tab-link"
                        ><div>Small Businesses</div></a
                      ><a
                        data-w-tab="Tab 3"
                        class="benefits-tab-link w-inline-block w-tab-link"
                        ><div>E-commerce Merchants</div></a
                      ><a
                        data-w-tab="Tab 4"
                        class="benefits-tab-link w-inline-block w-tab-link"
                        ><div>Corporations</div></a
                      ><a
                        data-w-tab="Tab 5"
                        class="benefits-tab-link w-inline-block w-tab-link"
                        ><div>Freelancers and Gig Economy Workers</div></a
                      ><a
                        data-w-tab="Tab 6"
                        class="benefits-tab-link w-inline-block w-tab-link"
                        ><div>Rural and Remote Areas</div></a
                      >
                    </div>
                    <div
                      id="w-node-_586d90c4-12b9-ad68-6d4e-9e0a06e5121f-06e51201"
                      class="tabs-content w-tab-content"
                    >
                      <div
                        data-w-tab="Tab 1"
                        class="benefits-tab-pane w-tab-pane w--tab-active"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c04babc6844fe043be6_errandsdash-benefits.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Convenience
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Effortlessly send packages without the hassle of
                                traditional courier services.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Real-Time Tracking
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Keep tabs on your package throughout its journey
                                with real-time updates.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Cost Savings
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Take advantage of affordable rates by leveraging
                                travelers’ existing routes.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Speed
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Enjoy same-day delivery options for urgent
                                shipments.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Flexibility
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Schedule pickups and deliveries at times that
                                work best for you.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                Eco-Friendly
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Contribute to a sustainable solution by
                                utilizing existing travel routes, reducing your
                                carbon footprint.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        data-w-tab="Tab 2"
                        class="benefits-tab-pane w-tab-pane"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666fe79f4b3322aa44eed4b3_small-business.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Affordable Shipping</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Reduce shipping costs, allowing you to maximize
                                your profits and offer competitive pricing.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6">
                                <strong>Flexible Scheduling</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                 Choose delivery times that align with your
                                business hours and customer needs.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Customer Satisfaction</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Ensure reliable and timely deliveries, enhancing
                                your customer service and reputation.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Scalability</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Easily handle varying shipping volumes, from
                                small orders to larger consignments.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Streamlined Operations</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Simplify your logistics with a single platform
                                for all your delivery needs.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Local Reach</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Expand your local delivery options, providing
                                faster service to nearby customers.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        data-w-tab="Tab 3"
                        class="benefits-tab-pane w-tab-pane"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666fe79d88d21310a122d7ac_ecommerce.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Scalable Solutions</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Efficiently manage increased order volumes
                                during peak seasons without escalating costs.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Fast Turnaround</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Provide your customers with quick deliveries,
                                improving their shopping experience and
                                encouraging repeat business.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Competitive Edge</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Stand out in the market with cost-effective
                                shipping options that enhance your overall value
                                proposition.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Integrated Tracking</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Offer your customers real-time tracking,
                                building trust and transparency in your shipping
                                process.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Enhanced Delivery Options</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Provide a range of delivery speeds and methods
                                to meet diverse customer preferences.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Increased Customer Loyalty</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Enhance customer satisfaction with reliable,
                                timely deliveries, leading to higher retention
                                rates.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        data-w-tab="Tab 4"
                        class="benefits-tab-pane w-tab-pane"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666fe79ddf98dbc3c9941220_corporations.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Bulk Shipping Discounts</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Take advantage of reduced rates for high-volume
                                shipments, lowering overall shipping costs.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Custom Solutions</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Tailor delivery solutions to meet the specific
                                needs of your business operations.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Dedicated Support</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Benefit from priority customer support to
                                address any issues swiftly and effectively.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Brand Reliability</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Maintain your brand’s reputation with
                                consistent, dependable delivery services.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Data Insights</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                 Gain valuable insights into shipping patterns
                                and performance to optimize logistics.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        data-w-tab="Tab 5"
                        class="benefits-tab-pane w-tab-pane"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666fe79c5c32a2a545fb7a7c_freelancers.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Additional Income</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Earn extra money by delivering packages along
                                your travel routes.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Flexible Schedule</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Choose delivery jobs that fit your existing
                                schedule and commitments.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>No Long-Term Commitment</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Work as much or as little as you want, with no
                                long-term contracts.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Community Engagement</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Connect with a network of other travelers and
                                senders, building a supportive community.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        data-w-tab="Tab 6"
                        class="benefits-tab-pane w-tab-pane"
                      >
                        <div class="benefits-tab-content">
                          <div class="benefits-tab-header-image-wrapper">
                            <img
                              src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666fe79dd3fff5483e4a9853_remote.svg"
                              loading="lazy"
                              alt=""
                              class="benefits-tab-header-image"
                            />
                          </div>
                          <div class="benefits-points-wrapper">
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Extended Reach</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Provide delivery services to areas that are
                                often underserved by traditional couriers.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Community Support</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Help connect rural and remote communities with
                                essential goods and services.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Cost-Effective Solutions</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Offer affordable shipping options to areas where
                                delivery costs are typically higher.
                              </div>
                            </div>
                            <div class="benefits-points-card">
                              <img
                                src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0cf44f54cadd137684_green-checkmark.svg"
                                loading="lazy"
                                alt=""
                              />
                              <h3 class="heading-style-h6 text-align-center">
                                <strong>Reliability</strong>
                              </h3>
                              <div class="text-align-center text-size-regular">
                                Ensure that even remote locations receive
                                reliable and timely deliveries.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="section_footer">
        <div class="padding-global padding-section-xsmall">
          <div class="container-large">
            
            <div class="footer_3-col">
              <div
                id="w-node-d3a959d4-21d6-4827-ffc8-e73196e7ad1d-96e7ad19"
                class="footer_item-flex"
              >
                <a href="/" class="footer_brand w-nav-brand"
                  ><img
                    width="100px"
                    height="50px"
                    loading="lazy"
                    alt="Trood Logo"
                    src="trood-logo.svg"
                    class="footer_logo" /></a
                ><a
                  href="mailto:support@trood.com"
                  class="footer_mail w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/66693c0b4e53cac8cdbc52b9_email-header.svg"
                    loading="lazy"
                    width="20"
                    alt=""
                  />
                  <div class="text-size-regular text-color-primary">
                    support@trood.com
                  </div></a
                >
                <div class="footer_social-icons hidden">
                  <a
                    href="#"
                    class="social_nav-link text-style-no-underline w-inline-block"
                    ><img
                      src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666aeef9868574b6c1869bee_insta-blue.svg"
                      loading="lazy"
                      alt="" /></a
                  ><a
                    href="#"
                    class="social_nav-link text-style-no-underline w-inline-block"
                    ><img
                      src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666aeef9cf5fa2f52666dbf3_fb-blue.svg"
                      loading="lazy"
                      alt=""
                  /></a>
                </div>
              </div>
              <div
                id="w-node-d3a959d4-21d6-4827-ffc8-e73196e7ad25-96e7ad19"
                class="footer_item-flex"
              >
                <div class="footer_contact-info">
                  <h4 class="heading-style-h5">Useful links</h4>
                  <a href="/" class="text-style-link text-color-primary">Home</a
                  ><a
                    href="/about-us"
                    aria-current="page"
                    class="text-style-link text-color-primary w--current"
                    >About</a
                  ><a
                    href="/send-with-trood"
                    class="text-style-link text-color-primary"
                    >Send with Trood</a
                  ><a
                    href="/become-a-carrier"
                    class="text-style-link text-color-primary"
                    >Become a Carrier</a
                  >
                </div>
              </div>
              <div
                id="w-node-d3a959d4-21d6-4827-ffc8-e73196e7ad3b-96e7ad19"
                class="footer_item-flex right"
              >
                <div class="footer_useful-links">
                  <a
                    href="/become-a-service-center"
                    class="text-style-link text-color-primary"
                    >Become a Service Center</a
                  ><a href="#" class="text-style-link text-color-primary hidden"
                    >Blog</a
                  ><a
                    href="/contact-us"
                    class="text-style-link text-color-primary"
                    >Contact Us</a
                  ><a
                    href="/download-app"
                    class="text-style-link text-color-primary"
                    >Get the app</a
                  ><a
                    href="/privacy-policy"
                    class="text-style-link text-color-primary"
                    >Privacy Policy</a
                  ><a
                    href="/terms-of-service"
                    class="text-style-link text-color-primary"
                    >Terms of Service</a
                  >
                </div>
                <div class="footer_download-app">
                  <h6 class="heading-style-h6 text-color-secondary">
                    Download app
                  </h6>
                  <div class="footer_social-icons">
                    <a
                      href="#"
                      class="social_nav-link text-style-no-underline w-inline-block"
                      ><img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666c1113e2f697f31a2a3c0f_google-play.svg"
                        loading="lazy"
                        width="95"
                        alt=""
                        class="footer_app-download-icon" /></a
                    ><a
                      href="#"
                      class="social_nav-link text-style-no-underline w-inline-block"
                      ><img
                        src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/666c111316a99547b358502d_app-store.svg"
                        loading="lazy"
                        width="96"
                        alt=""
                        class="footer_app-download-icon"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer_copyright-bar">
              <div class="text-size-small text-align-center">
                Copyright © 2024. All rights reserved - Trood<br />Powered
                by <strong>249 Sudan Dev Inc</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6668249a48934bb7f2f76107"
      type="text/javascript"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.prod.website-files.com/6668249a48934bb7f2f76107/js/webflow.8b4f0d18.bb07864a72da4d7f.js"
      type="text/javascript"
    ></script>
  </body>
</html>
