<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trood - Carrier Dashboard</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
    <link href="/carrier_style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <link
    href="trood-ico.ico"
    rel="shortcut icon"
    type="image/x-icon"
  />
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "Questrial:regular",
            "DM Sans:regular,700",
            "DM Serif Display:regular",
          ],
        },
      });
    </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   
</head>
<body>
    <div class="container">
        <!-- =============== Navigation ================ -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="rocket-outline"></ion-icon>
                        </span>
                        <span class="title">Trood</span>
                    </a>
                </li>
              
                <li>
                    <a href="carrier-ongoing-deliveries">
                        <span class="icon">
                            <ion-icon name="cube-outline"></ion-icon>
                        </span>
                        <span class="title">Ongoing Deliveries</span>
                    </a>
                </li>
                <li>
                    <a href="carrier-delivery-history">
                        <span class="icon">
                            <ion-icon name="time-outline"></ion-icon>
                        </span>
                        <span class="title">Delivery History</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/carrier-profile">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search deliveries...">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <div class="user">
                    <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Carrier">
                </div>
            </div>




 <!-- Profile Tab Content -->
 <div class="tabContent active" id="profile">
    <div class="profileHeader">
        <div class="profileImgBx">
            <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Michael Johnson">
        </div>
        <div class="profileName">
            <h2>Michael Johnson</h2>
            <p>Carrier ID: CRR-001</p>
        </div>
    </div>

    <div class="profileStats">
        <div class="statCard">
            <div class="statValue">4.7</div>
            <div class="statLabel">Average Rating</div>
        </div>
        <div class="statCard">
            <div class="statValue">1,248</div>
            <div class="statLabel">Total Deliveries</div>
        </div>
        <div class="statCard">
            <div class="statValue">5+</div>
            <div class="statLabel">Years Experience</div>
        </div>
        <div class="statCard">
            <div class="statValue">98%</div>
            <div class="statLabel">On-Time Rate</div>
        </div>
    </div>

    <div class="profileDetails">
        <h3>Personal Information</h3>
        <div class="profileInfoGroup">
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Full Name</div>
                <div class="profileInfoValue">Michael Johnson</div>
            </div>
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Email</div>
                <div class="profileInfoValue">michael.johnson@Trood.com</div>
            </div>
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Phone Number</div>
                <div class="profileInfoValue">(249) 927-6543</div>
            </div>
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Assigned Vehicle</div>
                <div class="profileInfoValue">Van - XYZ 123</div>
            </div>
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Service Area</div>
                <div class="profileInfoValue">Khartoum, Jabra</div>
            </div>
            <div class="profileInfoItem">
                <div class="profileInfoLabel">Status</div>
                <div class="profileInfoValue"><span class="status inProgress">On Delivery</span></div>
            </div>
        </div>
    </div>
</div>

</div>
</div>