<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trood - Carrier Dashboard</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
    <link rel="stylesheet" href="/carrier_style.css">
    <link href="/carrier_style.css" rel="stylesheet">
    <link
    href="trood-ico.ico"
    rel="shortcut icon"
    type="image/x-icon"
  />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "Questrial:regular",
            "DM Sans:regular,700",
            "DM Serif Display:regular",
          ],
        },
      });
    </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   
</head>
<body>
    <div class="container">
        <!-- =============== Navigation ================ -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="rocket-outline"></ion-icon>
                        </span>
                        <span class="title">Trood</span>
                    </a>
                </li>
              
                <li>
                    <a href="/carrier-ongoing-deliveries">
                        <span class="icon">
                            <ion-icon name="cube-outline"></ion-icon>
                        </span>
                        <span class="title">Ongoing Deliveries</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/carrier-delivery-history">
                        <span class="icon">
                            <ion-icon name="time-outline"></ion-icon>
                        </span>
                        <span class="title">Delivery History</span>
                    </a>
                </li>
                <li>
                    <a href="/carrier-profile">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search deliveries...">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <div class="user">
                    <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Carrier">
                </div>
            </div>

<!-- Delivery History Tab Content -->
<div class="tabContent active" id="history">
    <div class="historyHeader">
        <h2>Delivery History</h2>
    </div>
    <div class="historyTableContainer">
        <table>
            <thead>
                <tr>
                    <td>Package ID</td>
                    <td>Date</td>
                    <td>Destination</td>
                    <td>Recipient</td>
                    <td>Rating</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PKG-111222333</td>
                    <td>Apr 10, 2024</td>
                    <td>Los Angeles, CA</td>
                    <td>James Wilson</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <span class="ratingValue">5.0</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>PKG-444555666</td>
                    <td>Apr 08, 2024</td>
                    <td>Chicago, IL</td>
                    <td>Olivia Garcia</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                            <span class="ratingValue">4.5</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>PKG-777888999</td>
                    <td>Apr 05, 2024</td>
                    <td>Miami, FL</td>
                    <td>Liam Miller</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <span class="ratingValue">4.0</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>PKG-101010101</td>
                    <td>Apr 02, 2024</td>
                    <td>Seattle, WA</td>
                    <td>Sophia Davis</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <span class="ratingValue">5.0</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>PKG-202020202</td>
                    <td>Mar 28, 2024</td>
                    <td>Boston, MA</td>
                    <td>Noah Rodriguez</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <span class="ratingValue">3.5</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>PKG-303030303</td>
                    <td>Mar 25, 2024</td>
                    <td>Austin, TX</td>
                    <td>Ava Martinez</td>
                    <td>
                        <div class="ratingStars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <span class="ratingValue">5.0</span>
                        </div>
                    </td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
